<a href="https://colab.research.google.com/github/igde69/sql_lesson/blob/main/07_04_2023_hometask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1_CREATE TABLE School 
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE School (
School_Id INTEGER NOT NULL PRIMARY KEY,
School_Name TEXT NOT NULL,
Place_Count INTEGER NOT NULL
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# 2_INSERT INTO School 
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO School (School_Id , School_Name , Place_Count )
VALUES 
('1', 'Протон', 200),
('2', 'Преспектива', 300),
('3', 'Спектр', 400),
('4', 'Содружество', 500);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [10]:
# 3_CREATE TABLE Teatcher
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE Teatcher (
Teatcher_Id INTEGER NOT NULL PRIMARY KEY,
Teatcher_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL,
Joining_Date TEXT NOT NULL,
Speciality TEXT NOT NULL,
Salary INTEGER NOT NULL,
Experience INTEGER
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# 4_INSERT INTO Teatcher
import sqlite3
connection = sqlite3.connect('teatchers.db') 
cursor = connection.cursor()
query = query = """INSERT INTO Teatcher (Teatcher_Id , Teatcher_Name , School_Id, Joining_Date , Speciality , Salary, Experience)
VALUES
('101', 'Галина', '1', '2021 02 10', ' Физик ', '40000', NULL),
('102', 'Мария', '1', '2018 07 23', ' Химик ', '20000', NULL),
('103', 'Ольга', '2', '2022 05 19', 'Информатик', '25000', NULL),
('104', 'Полина', '2', '2017 12 28', 'Физик ', '28000', NULL),
('105', 'Лидия', '3', '2015 06 04', 'Информатик', '42000', NULL),
('106', 'Анастасия', '3', '2019 09 11', 'Учитель трудов', '30000', NULL),
('107', 'Ирина', '4', '2020 08 21', 'Информатик', '32000', NULL),
('108', 'Виктория', '4', '2017 10 17', 'Географ', '30000', NULL);
"""

cursor.execute(query)
connection.commit()
connection.close()

In [14]:
# 5_CREATE TABLE Students
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = query = """CREATE TABLE Students (
Student_Id INTEGER NOT NULL PRIMARY KEY,
Student_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [15]:
# 6_INSERT INTO Students
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id , Student_Name , School_Id )
VALUES
('201','Иван', '1'),
('202', 'Пётр', '2'),
('203', 'Анастасия', '3'),
('204', 'Игорь', '4');
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Просмотр доступных таблиц
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """SELECT * FROM sqlite_master WHERE type = 'table'"""
cursor.execute(query)
tables = cursor.fetchall()
# print(tables) # в строчку неструктурированно 


for table in tables:
#  print(table)
  
  print(table[1]) # например только названия таблиц

# output:
#School
#Teatcher
#Students

In [ ]:
# Просмотр доступных колонок
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """SELECT * FROM Teatcher"""
cursor.execute(query)
columnames = cursor.description
connection.close()
#print(columnames)
for row in columnames:
  print (row[0]) # селектовый запрос наименования колонок по нулевой строке

# output:
# Teatcher_Id
# Teatcher_Name
# School_Id
# Joining_Date
# Speciality
# Salary
# Experience

In [ ]:
# Вариант №1 решения задачи
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_student_detail(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
# присоединяем таблицу Students по School_Id по заданному Student_Id     
    query = """SELECT * FROM School
    JOIN Students ON School.School_Id = Students.School_Id 
    WHERE Students.Student_Id = ?"""
    cursor.execute(query,(student_id,))
    records = cursor.fetchall()
    # print(records)
    print ("Данные по студенту \n")
    for row in records:
      print ("ID студента:", row[3])
      print ("Имя студента::", row[4])
      print ("ID школы:", row[0])
      print ("Название школы:", row[1])
    close_connection(connection)
  except (Exception, sqlite3.Error) as erorr:
    print ("Ошибка", erorr)

get_student_detail(204)

# output:
# Данные по студенту 

# ID студента: 204
# Имя студента:: Игорь
# ID школы: 4
# Название школы: Содружество

In [ ]:
# можно создать базу данных Student
import sqlite3
connection = sqlite3.connect('Student.db')
cursor = connection.cursor()
query = query = """CREATE TABLE Students (
Student_Id INTEGER NOT NULL PRIMARY KEY,
Student_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL
);
"""
cursor.execute(query)
connection.commit()

query1 = """INSERT INTO Students (Student_Id , Student_Name , School_Id )
VALUES
('201','Иван', '1'),
('202', 'Пётр', '2'),
('203', 'Анастасия', '3'),
('204', 'Игорь', '4');
"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Вариант №2. Решение через БД.( можно создать базу данных Students
# таблицу testchers удаляем и залмваем исходную где только школы и учителя)
import sqlite3

def get_schoolname(school_id):
  try:
    connection = sqlite3.connect('Schools.db')
    cursor = connection.cursor()
    query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(query,(school_id,))
    record = cursor.fetchone()
    connection.close()
    print ("Название школы", record[1])
  except (Exception, sqlite3.Error) as erorr:
    print ("Ошибка в получении имени школы", erorr)

# get_schoolname(1)


def get_student(student_id):
    try:
      connection = sqlite3.connect('Student.db')
      cursor = connection.cursor()
      query = """SELECT * FROM Students WHERE Student_Id = ?"""
      cursor.execute(query,(student_id,))
      records = cursor.fetchall()
      connection.close()
      print ("Данные по студенту \n")
      for row in records:
        print ("ID студента:", row[0])
        print ("Имя студента::", row[1])
        print ("ID школы:", row[2])
        school_id = row[2]
        get_schoolname(school_id)
    except (Exception, sqlite3.Error) as erorr:
      print ("Ошибка", erorr)

get_student(201)