<a href="https://colab.research.google.com/github/igde69/lessons/blob/main/07_04_2023_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])

# print(s)

# a    0.191137
# b    0.523622
# c    1.323045
# d   -1.395726
# e    1.347446
# dtype: float64

print(s['a'])

# 1.4716652307059275

In [ ]:
# Основные объекты pandas ДатаФрейм
import pandas as pd
import numpy as np
#print(pd.__version__)

df = pd.DataFrame(np.random.randn(5,3), 
# объявляем ДатаФрейм, обращаемся к библиотеке pandas. размер DataFrame 5х3
index = pd.date_range ('1/1/2023', periods = 5),
columns = ['test', 'test1', 'C'])

print(df) # получаем сгенерированную табличку рандомных значений

print (df.columns ) # Узнать наименования колонок: Index(['test', 'test1', 'C'], dtype='object')

df.describe()

# test	test1	C
# count	5.000000	5.000000	5.000000
# mean	0.546778	0.316916	1.187030
# std	0.720751	1.249082	0.862598
# min	-0.604467	-0.915446	0.139829
# 25%	0.495365	-0.082637	0.738583
# 50%	0.613780	-0.002407	1.276566
# 75%	0.890354	0.161863	1.306143
# max	1.338856	2.423205	2.474028

In [ ]:
import pandas as pd
import numpy as np

xl = pd.read_excel("data.xlsx", sheet_name = 'Sheet1')

print(xl)
print(xl.columns)

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series([1, 2, 3, 4, 5])
s = s.replace(1,3)
print(s)

In [ ]:
df = pd.DataFrame ({'A': [0, 1, 2, 3, 4],
'B': [5, 6, 7, 8, 9],
'C': ['a', 'b', 'c', 'd', 'e']})

#df = df.replace('a', 5)
print(df)

#df.to_csv('test.csv') # записать DataFrame в файл
#df.to_excel('test.xlsx')

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__) # Узнать версию pandas

xl = pd.read_excel ("data.xlsx", sheet_name = 'Sheet1') # Открыть файл Excel

df[df['columnname '] == 'value'] # поиск значений

print (df) # Отобразить полученный датафрейм

df.describe (include=[ object])# Вывести описание датафрейма

In [ ]:
# 1
# Скачайте файл data.xlsx
# Откройте его с помощью библиотеки pandas
# Выберите все значения, где sku = капуста
# Запишите датафрейм в файл task1 в формате csv

import pandas as pd
import numpy as np

xl = pd.read_excel("data.xlsx", sheet_name = 'Sheet1')

kapusta = xl[xl['sku'] == 'Капуста']
print (kapusta)

kapusta.to_excel('task1.xlsx')

#      №      sku  volume  price  priceoforder
# 2    3  Капуста      35     12           420
# 5    6  Капуста      36     12           432
# 8    9  Капуста       5     12            60
# 17  18  Капуста      80     12           960
# 22  23  Капуста      60     12           720
# 25  26  Капуста      35     12           420
# 28  29  Капуста      36     12           432
# 31  32  Капуста       5     12            60
# 36  37  Капуста      80     12           960

In [ ]:
# 2
# выбрать из df (data.xlsx) sku со значением Киви ценой ( price of order)выше 1000 руб.
# записать в формате excel Task2.xlsx

import pandas as pd
import numpy as np

xl = pd.read_excel("data.xlsx", sheet_name = 'Sheet1')
kivi1 = xl[xl['sku'] == 'Киви']
print (kivi1)

kivi2 = kivi1[kivi1['priceoforder'] > 1000]
print (kivi2)



#      №   sku  volume  price  priceoforder
# 4    5  Киви      23     60          1380
# 6    7  Киви      60     60          3600
# 12  13  Киви      15     60           900
# 13  14  Киви      13     60           780
# 24  25  Киви      45     60          2700
# 27  28  Киви      23     60          1380
# 29  30  Киви      60     60          3600
#      №   sku  volume  price  priceoforder
# 4    5  Киви      23     60          1380
# 6    7  Киви      60     60          3600
# 24  25  Киви      45     60          2700
# 27  28  Киви      23     60          1380
# 29  30  Киви      60     60          3600

In [ ]:
# 3
# Выбрать все заказы volume > 15 и вывести полученный df,
# выбрать из полученного df все volume < 50 и записать данный df в exсel файл task3.xlsx

import pandas as pd
import numpy as np

xl = pd.read_excel("data.xlsx", sheet_name = 'Sheet1')
vol = xl[xl['volume'] > 15]
print(vol)
vol1 = vol[vol['volume'] < 50]
print(vol1)
vol1.to_excel('task3.xlsx')